h1 {
    color: red;
}

#txt{
    font-weight: bold;
}

img {
    width: 600px;
    height: 400px;
}

#a {
    width: 100px;
    height: 20px;

}

#b{
    color: white;
    background-color: black;
}
